.list {
  width: 100%;
  height: 100%;
  padding: 2rem;
  overflow: auto;
  box-sizing: border-box;

  .upload-wrapper {
    width: 100%;

    @include display(flex);
    @include justify-content(flex-end);

    a {
      margin: 1rem;
      padding: 1rem 2rem;

      font: {
        size: 1rem;
        weight: bold;
      }
      color: $blue;
      text-transform: uppercase;
      text-decoration: none;

      border: 2px solid $blue;
      background-color: transparent;
      @include transition((background-color .2s ease, color .2s ease));

      &:visited {
        color: $blue;
        text-decoration: none;
      }

      &:hover {
        color: $white;
        text-decoration: none;

        background-color: $blue;
      }
    }
  }

  .pictures, .files {
    margin: 1rem 0;
    padding: 0;
    list-style-type: none;

    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(center);

    li {
      @include flex(1);
      margin: 1rem;
      padding: 1rem 2rem;
      box-sizing: border-box;

      background-color: $soft-grey;
    }

    p {
      margin: .5rem;

      color: $black;
      font: {
        size: 1rem;
      }

      &.filename {
        text-transform: uppercase;
      }
    }

    @mixin button($foreground, $background) {
      padding: .5rem 1rem;

      font: {
        size: .9rem;
      }
      color: $foreground;
      text-transform: uppercase;

      cursor: pointer;
      outline: none;
      border: 2px solid $foreground;
      background: transparent;
      @include transition((background-color .2s ease, color .2s ease));

      &:hover {
        color: $background;

        background-color: $foreground;
      }
    }

    .delete-button {
      @include button($black, $white);
    }

    .download-button {
      @include button($grey, $white);
      text-decoration: none;
    }

    .details {
      @include display(flex);
      @include justify-content(space-between);
      @include align-items(center);
    }
  }

  .pictures li {
    max-width: 500px;
    img {
      width: 100%;
    }
  }
}
